body {
    font-family: Arial, sans-serif;
    min-height: 100%;
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-de-viagem-realista-com-elementos_52683-77784.jpg?w=996&t=st=1697544263~exp=1697544863~hmac=c8440a2d8c4725da477d214ebe284bc628f80f417d2c760a3e4473638083ed35");
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center center;
    background-clip: border-box;
    margin: 0;
    padding: 0;
}

.container_header {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #6880d1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container_main {
    max-width: 800px;
    margin: -1.5rem auto;
    padding: 1.2rem;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container_contato {
    max-width: 800px;
    margin: 3rem auto;
    padding: 1.5rem;
    background-color: #6880d1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container__titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container__titulo h3 {
    color: #6880d1;
}

.container__conteudos {
    display: flex;
    align-items: center;
}
.container__conteudos img{
    width: 100%;
}

.container___conteudos_destinos img{
width: 100%;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    font-family: arial, sans-serif;
}

nav a:hover {
    background-color: #030303;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #ca8151;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #573606;
}

.container_footer {

    max-width: 800px;
    margin: 1rem auto;
    padding: 1.2rem;
}


/* Media query para tornar o conteúdo responsivo */
@media screen and (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 10px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px;
    }
}
